<ion-tabs>

  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="nodes">
      <!-- <ion-label>Nodes</ion-label> -->
      <ion-icon name="md-radio-button-on"></ion-icon>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <!-- <ion-tab-button tab="new-node"> -->
      <!-- <ion-label>Add Node</ion-label> -->
      <!-- <ion-icon name="image"></ion-icon>
    </ion-tab-button> -->

    <ion-tab-button tab="search">
      <!-- <ion-label>Find Nodes</ion-label> -->
      <ion-icon name="md-search"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="notifications">
    <!-- <ion-label>Notifications</ion-label> -->
    <ion-icon name="notifications-outline"></ion-icon>
     <!-- <ion-badge>{{notifications_count}}</ion-badge> -->
  </ion-tab-button>



  <!-- <ion-tab-button tab="settings">
    <ion-label  color="white">Settings</ion-label>
    <ion-icon name="md-settings"  color="white"></ion-icon>
  </ion-tab-button> -->

  </ion-tab-bar>

</ion-tabs>
